<div {{bind-attr class=":search-overlay searchOverlayVisible:search-overlay-visible" }}>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1">
                <div class="search-overlay-content">
                    <div {{action "closeSearchOverlay"}} class="close-search-overlay-sign">
                        <span class="glyphicon glyphicon-remove close-search-overlay-button"></span>
                    </div>
                    <div>
                        {{input value=searchTerm class="search-overlay__searchbox" placeholder="Search for music and videos here"}}
                    </div>

                    <!--Video results-->

                    <div {{bind-attr class=":results :video-results videoResultsInvisible:results--invisible"}}>
                        <h4 class="results__header">VIDEO RESULTS</h4>
                        {{view App.SearchVideos}}
                    </div>
                    <!--/Video Results-->

                    <!--Song results-->
                    <div {{bind-attr class=":results :artist-results songResultsInvisible:results--invisible"}}>
                        <h4 class="results__header">SONG RESULTS</h4>
                        <div class="results__result-items">
                            {{#each song in songResults}}
                                <a href="#" class="results__result-item">
                                    <div class="results__result-item__container">
                                        <img src="http://localhost:8000/images/artists/eminem.jpg" alt=""/>
                                        <div class="results__result-item__meta">
                                            <span>{{song.name}}</span>
                                        </div>
                                    </div>
                                </a>
                            {{/each}}
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/emis-killa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/emis-killa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/emis-killa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/emis-killa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/emis-killa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/emis-killa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/emis-killa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/emis-killa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/emis-killa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/emis-killa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/emis-killa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/emis-killa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        </div>
                    </div>
                    <!--/Song Results-->

                    <!--Artist Results-->
                    <div {{bind-attr class=":results :artist-results artistResultsInvisible:results--invisible"}}>
                        <h4 class="results__header">ARTIST RESULTS</h4>
                        <div class="results__result-items">
                            {{#each artist in artistResults}}
                                {{#link-to "artist" artist class="results__result-item"}}
                                    <div class="results__result-item__container">
                                        <img src="{{unbound outputPicture artist.picture}}" alt=""/>
                                        <div class="results__result-item__meta">
                                            <span>{{artist.name}}</span>
                                        </div>
                                    </div>
                                {{/link-to}}
                            {{/each}}
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/eminem.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/eminem.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/eminem.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/eminem.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/eminem.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/eminem.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/eminem.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/eminem.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        </div>
                    </div>
                    <!--/Artist Results-->

                    <!--Album Results-->
                    <div {{bind-attr class=":results :artist-results albumResultsInvisible:results--invisible"}}>
                        <h4 class="results__header">ALBUM RESULTS</h4>
                        <div class="results__result-items">
                            {{#each album in albumResults}}
                                {{#link-to "album" album class="results__result-item"}}
                                    <div class="results__result-item__container">
                                        <img src="{{unbound outputPicture album.picture}}" alt=""/>
                                        <div class="results__result-item__meta">
                                            <span>{{album.name}}</span>
                                        </div>
                                    </div>
                                {{/link-to}}
                            {{/each}}
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/shareefa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/shareefa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/shareefa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/shareefa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/shareefa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/shareefa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/shareefa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/shareefa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/shareefa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/shareefa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/shareefa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<a href="#" class="results__result-item">-->
                                <!--<div class="results__result-item__container">-->
                                    <!--<img src="http://localhost:8000/images/artists/shareefa.jpg" alt=""/>-->
                                    <!--<div class="results__result-item__meta">-->
                                        <!--<span>name</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        </div>
                    </div>
                    <!--/Album Results-->
                </div>
            </div>
        </div>
    </div>
</div>